html {
    background: #3c6382;
}

body {
    font-size: x-large;
}

#btn, #inputtext, #outputtext {
    outline: none;
}

h1 {
    border-bottom: 1px solid black;
    width: 50%;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(1.10);
}

.div1 {
    border-bottom: 1px solid black;
    gap: 50px;
    width: 50%;
}


