html {
    background: #3c6382;
}

body {
    font-size: x-large;
}

#btn, #inputtext, #outputtext {
    outline: none;
}

h1 {
    border-bottom: 1px solid black;
    width: 50%;
    text-shadow: 5px 1px 0 rgba(0,0,0,.25);
}

img {
    filter: drop-shadow(15px 5px 4px black);
    transition: transform .2s;
}

img:hover {
    transform: scale(1.10);
}

.div1 {
    border-bottom: 1px solid black;
    gap: 50px;
    width: 50%;
}

p {
    text-shadow: 2px 2px 0 rgba(0,0,0,.25);
}


